In [80]:
import pandas as pd
import numpy as np

In [81]:
data = pd.read_csv("Scraping_Cars.csv")
data.head()

,Brand,Date,District,Engine_capacity,Engine_power,From_who,Fuel_type,Gear_type,Kilometer,Model,Model_year,Price,Title,Variant
0,Chrysler,27/12/2020,/ Beylikdüzü / Beylikdüzü\n,2501-3000 cc,Bilmiyorum,\n ...,\n Dizel\n,Otomatik Vites,221.000,300 C,2009,\n 215.000 TL\n,\n ...,3.0 CRD
1,Dodge,03/12/2020,/ Büyükçekmece / Büyükçekmece\n,2501-3000 cc,Bilmiyorum,\n ...,\n Dizel\n,Otomatik Vites,213.000,Nitro,2008,\n 172.000 TL\n,\n ...,2.8 CRD SXT
2,Fiat,19/02/2021,/ Altındağ / Altındağ\n,1300 cc ve altı,100 BG ve altı,\n ...,\n Dizel\n,Düz Vites,172.600,Linea,2014,\n 87.700 TL\n,\n ...,1.3 Multijet Pop
3,Alfa Romeo,24/01/2021,/ Seyhan / Yeşiloba\n,1801-2000 cc,Bilmiyorum,\n ...,\n Benzin\n,Otomatik Vites,13.000,Stelvio,2018,\n 875.000 TL\n,\n ...,Diğer
4,BMW,15/02/2021,/ Esenyurt / Merkez\n,1301-1600 cc,Bilmiyorum,\n ...,\n Benzin\n,Yarı Otomatik Vites,108.000,3 Serisi,2016,\n 359.950 TL\n,\n ...,320i ED M Plus

In [47]:
data.shape

(19476, 14)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19476 entries, 0 to 19475
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            19476 non-null  object
 1   Date             19476 non-null  object
 2   District         18527 non-null  object
 3   Engine_capacity  19476 non-null  object
 4   Engine_power     19476 non-null  object
 5   From_who         19476 non-null  object
 6   Fuel_type        19476 non-null  object
 7   Gear_type        19476 non-null  object
 8   Kilometer        19476 non-null  object
 9   Model            19476 non-null  object
 10  Model_year       19476 non-null  int64
 11  Price            19476 non-null  object
 12  Title            19476 non-null  object
 13  Variant          19476 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.1+ MB

In [49]:
data.describe()

         Model_year
count  19476.000000
mean    2012.432532
std        6.716448
min     1954.000000
25%     2010.000000
50%     2014.000000
75%     2017.000000
max     2021.000000

In [50]:
data.columns

Index(['Brand', 'Date', 'District', 'Engine_capacity', 'Engine_power',
       'From_who', 'Fuel_type', 'Gear_type', 'Kilometer', 'Model',
       'Model_year', 'Price', 'Title', 'Variant'],
      dtype='object')

In [51]:
data.isnull().sum()

Brand                0
Date                 0
District           949
Engine_capacity      0
Engine_power         0
From_who             0
Fuel_type            0
Gear_type            0
Kilometer            0
Model                0
Model_year           0
Price                0
Title                0
Variant              0
dtype: int64

In [52]:
data.Fuel_type

0             \n                Dizel\n
1             \n                Dizel\n
2             \n                Dizel\n
3            \n                Benzin\n
4            \n                Benzin\n
                            ...
19471    \n                Benzin/LPG\n
19472        \n                Benzin\n
19473         \n                Dizel\n
19474    \n                Benzin/LPG\n
19475         \n                Dizel\n
Name: Fuel_type, Length: 19476, dtype: object

In [53]:
def preprocess(reviewText):
    reviewText= reviewText.str.replace(" ","")
    reviewText= reviewText.str.replace("\n","")
    return reviewText

data["Fuel_type"] = preprocess(data["Fuel_type"])

In [54]:
data.Fuel_type[19471]

'Benzin/LPG'

In [55]:
data.Price

0        \n            215.000 TL\n
1        \n            172.000 TL\n
2         \n            87.700 TL\n
3        \n            875.000 TL\n
4        \n            359.950 TL\n
                        ...
19471     \n            42.500 TL\n
19472     \n            85.750 TL\n
19473    \n            154.999 TL\n
19474     \n            63.200 TL\n
19475    \n            149.000 TL\n
Name: Price, Length: 19476, dtype: object

In [56]:
def preprocess(reviewText):
    reviewText= reviewText.str.replace(" ","")
    reviewText= reviewText.str.replace("\n","")
    reviewText= reviewText.str.replace("TL","")
    reviewText= reviewText.str.replace(".","")
    return reviewText

data["Price"] = preprocess(data["Price"])

In [57]:
type(data.Price[5])

str

In [58]:
data.Price[91]

'1290000'

In [59]:
data.Price = pd.to_numeric(data.Price)

In [60]:
data.Price

0        215000
1        172000
2         87700
3        875000
4        359950
          ...
19471     42500
19472     85750
19473    154999
19474     63200
19475    149000
Name: Price, Length: 19476, dtype: int64

In [61]:
data.Price.dtype

dtype('int64')

In [62]:
data.Title

0        \n                                            ...
1        \n                                            ...
2        \n                                            ...
3        \n                                            ...
4        \n                                            ...
                               ...
19471    \n                                            ...
19472    \n                                            ...
19473    \n                                            ...
19474    \n                                            ...
19475    \n                                            ...
Name: Title, Length: 19476, dtype: object

In [63]:
def preprocess(reviewText):
    reviewText= reviewText.str.replace("\n","")
    reviewText= reviewText.str.lstrip()
    reviewText= reviewText.str.rstrip()
    return reviewText

data["Title"] = preprocess(data["Title"])

In [64]:
data.Title[105]

'2005 MODEL BMV 116I'

In [65]:
data.Variant

0                   3.0 CRD
1               2.8 CRD SXT
2          1.3 Multijet Pop
3                     Diğer
4            320i ED M Plus
                ...
19471                1.3 GX
19472             1.2 Tekna
19473         1.5 DCI Tekna
19474             1.5 Tekna
19475    1.5 dCi Tekna Pack
Name: Variant, Length: 19476, dtype: object

In [66]:
data.Model[1004]

'Sandero'

In [67]:
data.From_who

0        \n                                            ...
1        \n                                            ...
2        \n                                            ...
3        \n                                            ...
4        \n                                            ...
                               ...
19471    \n                                    Sahibind...
19472    \n                                    Sahibind...
19473    \n                                    Sahibind...
19474    \n                                    Sahibind...
19475    \n                                            ...
Name: From_who, Length: 19476, dtype: object

In [68]:
def preprocess(reviewText):
    reviewText= reviewText.str.replace("\n","")
    reviewText= reviewText.str.lstrip()
    reviewText= reviewText.str.rstrip()
    return reviewText

data["From_who"] = preprocess(data["From_who"])

In [69]:
data.From_who

0         Galeriden
1         Galeriden
2         Galeriden
3         Galeriden
4         Galeriden
            ...
19471    Sahibinden
19472    Sahibinden
19473    Sahibinden
19474    Sahibinden
19475     Galeriden
Name: From_who, Length: 19476, dtype: object

In [70]:
data.Kilometer = pd.to_numeric(data.Kilometer)

ValueError: Unable to parse string "2.101.065" at position 6695

In [71]:
data.Kilometer[6695]

'2.101.065'

In [72]:
data.Kilometer = data.Kilometer.str.replace(".","")

In [73]:
data.Kilometer = pd.to_numeric(data.Kilometer)

In [74]:
data.Kilometer[5]

255000

In [75]:
data.District[5]

' / Seyhan / Yeşiloba\n    '

In [76]:
data.District.fillna(value = "no input")

0             / Beylikdüzü / Beylikdüzü\n
1         / Büyükçekmece / Büyükçekmece\n
2                 / Altındağ / Altındağ\n
3                   / Seyhan / Yeşiloba\n
4                   / Esenyurt / Merkez\n
                         ...
19471               / Fethiye / Fethiye\n
19472               / Fethiye / Çiftlik\n
19473                       / Kaş / Kaş\n
19474                 / Merkez / Merkez\n
19475                / Birecik / Merkez\n
Name: District, Length: 19476, dtype: object

In [77]:
def preprocess(reviewText):
    reviewText= reviewText.str.replace("\n","")
    reviewText= reviewText.str.replace(" ","")
    reviewText= reviewText.str.lstrip("/")

    return reviewText

data["District"] = preprocess(data["District"])

In [78]:
data.District

0            Beylikdüzü/Beylikdüzü
1        Büyükçekmece/Büyükçekmece
2                Altındağ/Altındağ
3                  Seyhan/Yeşiloba
4                  Esenyurt/Merkez
                   ...
19471              Fethiye/Fethiye
19472              Fethiye/Çiftlik
19473                      Kaş/Kaş
19474                Merkez/Merkez
19475               Birecik/Merkez
Name: District, Length: 19476, dtype: object

In [79]:
data

,Brand,Date,District,Engine_capacity,Engine_power,From_who,Fuel_type,Gear_type,Kilometer,Model,Model_year,Price,Title,Variant
0,Chrysler,27/12/2020,Beylikdüzü/Beylikdüzü,2501-3000 cc,Bilmiyorum,Galeriden,Dizel,Otomatik Vites,221000,300 C,2009,215000,2009 CHRYSLER 300C 3.0 CRD 218 HP 221 BİN KM ...,3.0 CRD
1,Dodge,03/12/2020,Büyükçekmece/Büyükçekmece,2501-3000 cc,Bilmiyorum,Galeriden,Dizel,Otomatik Vites,213000,Nitro,2008,172000,2008 DODGE NİTRO 2.8 CRD SXT 4x4 DERi SUNROOF ...,2.8 CRD SXT
2,Fiat,19/02/2021,Altındağ/Altındağ,1300 cc ve altı,100 BG ve altı,Galeriden,Dizel,Düz Vites,172600,Linea,2014,87700,OTTOHAN DAN 2014 FİAT LİNEA 1.3 MULTİJET POP D...,1.3 Multijet Pop
3,Alfa Romeo,24/01/2021,Seyhan/Yeşiloba,1801-2000 cc,Bilmiyorum,Galeriden,Benzin,Otomatik Vites,13000,Stelvio,2018,875000,2018 STELVİO KIRMIZI DERİ ŞERİT TAKİP DNA SÜRÜ...,Diğer
4,BMW,15/02/2021,Esenyurt/Merkez,1301-1600 cc,Bilmiyorum,Galeriden,Benzin,Yarı Otomatik Vites,108000,3 Serisi,2016,359950,2016 BMW 320İ ED M PLUS 108.000 KM DE SERVİS B...,320i ED M Plus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19471,Nissan,18/02/2021,Fethiye/Fethiye,1300 cc ve altı,100 BG ve altı,Sahibinden,Benzin/LPG,Düz Vites,260000,Micra,1997,42500,SAHİBİNDEN TEMİZ BAKIMLI KLİMALI VE YENİ MOTOR...,1.3 GX
19472,Nissan,19/02/2021,Fethiye/Çiftlik,1300 cc ve altı,276-300 BG,Sahibinden,Benzin,Düz Vites,107713,Micra,2004,85750,2004 NİSSAN MICRA,1.2 Tekna
19473,Nissan,19/02/2021,Kaş/Kaş,1301-1600 cc,101-125 BG,Sahibinden,Dizel,Düz Vites,205000,Qashqai,2011,154999,SAHİBİNDEN CAM TAVANLI,1.5 DCI Tekna
19474,Nissan,19/02/2021,Merkez/Merkez,1301-1600 cc,100 BG ve altı,Sahibinden,Benzin/LPG,Düz Vites,220262,Almera,2006,63200,MEMURDAN EKSPERTİZ RAPORLU NİSSAN,1.5 Tekna
19475,Nissan,20/02/2021,Birecik/Merkez,1301-1600 cc,Bilmiyorum,Galeriden,Dizel,Düz Vites,320000,Qashqai+2,2011,149000,hatasız boyasız cam gibi Nissan Qashqai 2 1.5 ...,1.5 dCi Tekna Pack

In [ ]:
data.to_csv("Car_clean_data.csv",index=False)